-- Parsed 9 income statement records
-- Parsed 22 balance sheet records

-- CLEAR EXISTING DATA
DELETE FROM diva_balance_sheets WHERE data_year = 2024;
DELETE FROM diva_income_statements WHERE data_year = 2024;

-- INSERT BALANCE SHEET DATA

-- INSERT INCOME STATEMENT DATA

-- VERIFICATION QUERIES
SELECT 'Balance Sheets' as table_name, COUNT(*) as record_count FROM diva_balance_sheets WHERE data_year = 2024
UNION ALL
SELECT 'Income Statements' as table_name, COUNT(*) as record_count FROM diva_income_statements WHERE data_year = 2024;

-- Sample balance sheet data
SELECT company_name, total_assets, total_equity FROM diva_balance_sheets WHERE data_year = 2024 ORDER BY total_assets DESC;

-- Sample income statement data
SELECT company_name, operating_revenue, net_profit FROM diva_income_statements WHERE data_year = 2024 ORDER BY operating_revenue DESC;
